<footer class="footer">
  <small>
    By <a href="http://about.me/mattfcohen">Matt Cohen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>